/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	background-color: black;
}

.onyx-toolbar {
	height: 108px;
	border-radius: 8px;
	background-color: #555;
}

.test-record {
	height: 55px;
	border-radius: 8px;
	color: black;
	background-color: #CCC;
	text-align: left;
	padding: 2px;
}

.function-button {
	color: white;
	background-color: lightblue;
	border-color: black;
}

.number-button {
	color: black;
	background-color: white;
	border-color: black;
}

.cancel-button {
	color: white;
	background-color: orange;
	border-color: black;
}

sup {
	vertical-align: super !important;
	font-size: 0.5em;
}

.about-description        {
	color: black;
	font-size: 14px;
	font-family: Helvetica;
}


.classic-popup       {
	border-radius: 16px;
	width: 352px;
	background-color: #555;
}

.button   {
	background-color: green;
	float: right;
}

.bottom-bar  {
	height: 55px;
}