/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	background-color: #000000;
}

.onyx-toolbar {
	height: 54px;
	border-radius: 16px;
	background-color: #555;
}

.number-button {
	color: black;
	background-color: white;
}

.about-description        {
	color: #000000;
	font-size: 14px;
	font-family: Helvetica ;
}


.classic-popup       {
	border-radius: 16px;
	width: 352px;
	background-color: #555;
}

.button   {
	background-color: green;
	float: right;
}

.bottom-bar  {
	height: 55px;
}
