/*
 Put anything you reference with "url()" in ../assets/
 This way, you can minify your application, and just remove the "source" folder for production

 Note: Magic numbers calculated based on the assumed 96px per "inch" idea.
 Note: Calculations performed, on principle, using the calculator itself!

 11cm ~ 416px allow double that 832px
  6cm ~ 227px allow double that 454px
*/

@media all and (orientation:portrait) {
body {
    background-color: yellow;
/*    max-height: 832px;
    max-width: 454px;*/
}

.onyx-toolbar {
    height: 21.5%;
    margin: 0.5%;
    border-radius: 8px;
    background-color: #555;
    text-align: right;
    font-size: 7vh !important;
    line-height: 10vh !important;
}
}

@media all and (orientation:landscape) {
body {
    background-color: yellow;
/*    max-height: 454px;
    max-width: 832px;*/
}

.onyx-toolbar {
    height: 21.5%;
    max-width: 10em;/*454px;*/
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-color: #555;
    text-align: right;
    font-size: 7vh !important;
    line-height: 10vh !important;
}
}

#app {
    background-color: #777;
}

/* This panels host collapses unless we give it a height */
#app_calculatorHost {
    height: 100%;
}

.bezel {
    height: calc(100% - 55px);
}

.function-button {
    width: 24%;
    margin: 0.5%;
    height: 14%;
    color: white;
    background-color: lightblue;
    border-color: black;
    border-radius: 8px;
    font-size: 6vh;
    line-height: 20px !important;
}

.number-button {
    color: black;
    background-color: white;
}

.cancel-button {
    background-color: orange;
}

.test-record {
	height: 55px;
	border-radius: 8px;
	color: black;
	background-color: #CCC;
	text-align: left;
	padding: 2px;
}

.button {
	background-color: green;
	float: right;
}

sup {
	vertical-align: super !important;
	font-size: 0.5em;
}

.about-description {
	color: black;
	font-size: 14px;
	font-family: Helvetica;
}

.classic-popup {
	border-radius: 16px;
	width: 352px;
	background-color: #555;
}

.bottom-bar {
	height: 55px;
}
